<div class="table-container">
    <h1 class = "text-4xl font-extrabold text-grey-800 px-2 ">
        <ngx-typed-js [typeSpeed]="50" [loop]="true" [strings]="['2024']  ">
        Point-Table <span class="typing"></span>
            </ngx-typed-js>
    </h1>

    <table class=" shadow-lg min-w-full divide-y mt-6 divide-gray-200">
        <thead class="bg-gray-400 ">
            <tr>
                @for (heading of tableHeading; track $index) {
                <th scope="col" class="px-6 py-3 text-left text-xs font-large  uppercase tracking-wider">
                    {{heading}}
                </th>
            }
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-100 hover:bg-grey-100 ">
            @for (team of pointTable; track $index) {
                <tr class="hover:bg-gray-100 hover:scale-105  transition-all cursor-pointer"[ngClass]="{
                    'bg-green-200':$index <=4,
                    'bg-red-200':$index >4
                }">
                
                    @if ($index >0) {
                    @for (data of team; track $index) {
                    <td class="px-6 py-2 whitespace-nowrap">
                        {{data}}
                    </td>
                }
                }
                </tr>
            }
           
        </tbody>
    </table>
</div>
